.square {
    width: 75px;
    height: 75px;
}

.square.black {
    background-color: black;
}

.square.white {
    background-color: white;
}

.selected {
    background-color: dimgray !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
